@import "./normalize.css";

:root {
  /* 文本颜色 */
  --color-text: #666;
  /* 文本高亮颜色 */
  --color-high-text: #ff5777;
  /* 背景涂色 */
  --color-tint: #ff8198;
  /* 背景色 */
  --color-background: #fff;
  /* 全局字体大小 */
  --font-size: 14px;
  /* 全局行高 */
  --line-height: 1.5;
}
/* 去除所有标签及伪类before、after的内外边距，盒子属性为自适应 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* 字体属性 */
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  user-select: none;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  -webkit-tap-highlight-color: transparent;
  /* 背景色 */
  background: var(--color-background);
}
/* 清除浮动 */
.clear-fix::after {
  content: "";
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}
/* 左浮动 */
.left {
  float: left;
}
/* 右浮动 */
.right {
  float: right;
}